<h1> Hello from EJS </h1>

<form method="get" action="/name">
  <p>Tell us your name! Or something: </p>
  <input type="text" name="ejsFormName" value=" <%=myName %> "> 
  <input type="submit">
</form>

