body {
    background-image: linear-gradient(to bottom left, orchid, blue);
      font-family: 'Noto Sans', sans-serif;
        margin:0;
        width:100%;
        height:100vh;
          /* background:#ffffff; */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
}  